html, 
body {
    height: 100%;
}

.rounded {
    border-radius: 1rem!important;
}

.rounded-70 {
    border-radius: 0.7rem!important;
}

.rounded-left {
    border-top-left-radius: 1rem!important;
    border-bottom-left-radius: 1rem!important;
}

.rounded-right {
    border-top-right-radius: 1rem!important;
    border-bottom-right-radius: 1rem!important;
}

.form-control:focus {
    box-shadow: none;
}

.web-icon {
    width: 32px;
    height: 32px;
}

.shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.web-icon-container {
    width: 64px;
    height: 64px;
}

.web-name {
    text-decoration: none;
}

.web-bookmark:hover {
    background-color: rgba(0, 0, 0, 0.035);
    border-radius:.7rem!important
}

.weather {
    width: 20rem;
    padding-top: 10rem;
}